.footer__column-links .footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  transition: all .5s ease;
}

.footer__column-links {
  list-style: none;
  padding: 0;
}